<p class="title is-4">Timeline</p>

<div class="columns is-multiline">
    <div class="column is-12">
        <b> Session 1:</b><br>
        19th April 10:30 am to 12:00 noon CET (<a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=UGCL+Session+1&iso=20210419T1130&p1=367&ah=1&am=30" target="_blank">local time</a>)<br>
        <br>
        <b> Session 2:</b><br>
        20th April 03:00 pm to 04:00 pm CET (<a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=UGCL+Session+2&iso=20210420T16&p1=367&ah=1" target="_blank">local time</a>)<br>
    	<br>
        <b>Venue:</b> Virtual (previously Kyiv, Ukraine)<br>
        <br>
        <b> Registration: <a href="https://docs.google.com/forms/d/e/1FAIpQLSeZ3jIU4g0hwQ1WR8AQT92_y6S5szqXl-RvcItzYtaDW6-ERA/viewform" target="_blank">Click here</a></b><br>.
    </div>

</div>
